
div {
  display: block;
}

body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Times New Roman",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.3rem;
  color: #303030;
  background: #f6f6f4;
}

/* NOTE: ------------ Ginventory ----------- */
#logo {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 20;
    width: 100%;
    text-align: center;
    font-size: 6.4rem;
    color: #f6cc4c;
    transform: translateY(-50%);
    margin-right: 20px;
}

#logo span:not(:last-child) {
    margin-right: 3.6rem;
}

/* NOTE: ------------- SIDEBAR ------------- */
#main-nav {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1000;
    width: 55px;
    transform: translateY(-50%);
}

#main-nav li.current {
    background: #f6cc4c;
    border-color: #f6cc4c;
}

#main-nav li {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    border: 3px solid #d9d9d9;
    box-sizing: border-box;
    }

#main-nav a {
      display: none;
  }

  #main-nav li:not(:last-child) {
      margin-bottom: 25px;
  }

nav ul {
  list-style: none;
  padding-left:20px;
  padding-right:20px;
}


button {
    cursor: pointer;
    background: transparent;
    border: none;
    font: hidden;
}

.nav-btn img{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  margin-right: 17px;
}

img#down {
  margin-top: 25px;
  transform: rotate(180deg);
  top: 85%;
}
img#up{
  margin-bottom: 25px;
  top: -10%;
}

/* NOTE: -------------- TOP BAR --------------- */
#sub-nav {
  position: absolute;
  top: 55px;
  right: 55px;
  z-index: 99;
}

#sub-nav li {
  float: left;
}

#sub-nav li:first-child {
    margin-right: 35px;
}

#sub-nav ul {
  list-style: none;
}

#sub-nav a {
    font-size: 1.6rem;
    line-height: 5.5rem;
    color: rgba(60,59,54,.7);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

img.apple {
  position: absolute;
  max-height: 45px;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

img.android {
  position: absolute;
  max-height: 45px;
  top: 50%;
  left: 79%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.download-btn.yellow {
    background-color: #e8c24b;}

.download-btn {
    display: block;
    width: 160px;
    height: 55px;
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat!important;
    border: none!important;

}

/* NOTE: -------------- TEXT STYLE ------------ */
h1, h2, h3, h4, h5, h6 {
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #f6cc4c;
}

.search {
  text-align-last: right;
  z-index: 500;
  position: fixed;
  top: 115px;
  right: 65%;

}
.search h1{
  font-size: 24px
}
.search p{
  font-size: 16px
}
.footer{
  position: fixed;
  bottom: 0px;
  right: 55px;
  padding-bottom:15px;
  z-index: 300;
  font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #a4a4a4
}

.one {
  z-index: 1000;
  position: fixed;
  font-size: 200px;
  color: white;
  padding-left: 50px;
  padding-top: 50px;
}

/* NOTE: ------------- Yellow Bar --------- */

div.yellowrectangle {
    position: absolute;
    top: 50%;
    left: 55px;
    z-index: 50;
    width: calc(100% - 110px);
    height: 105%;
    background: #f6cc4c;
    backface-visibility: hidden;
}

.line1 {
  position: fixed;
  z-index: 998;
  border: solid 1px #EFC865;
  background-color: #EFC865;
  height: 1px;
  width: 70%;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line2 {
  position: fixed;
  z-index: 999;
  border: solid 1px white;
  background-color: white;
  height: 1px;
  width: 20%;
  top: 73%;
  left: 300px;
  transform: translate(-50%, -50%);
}

/* NOTE: ------------- IMAGE ------------- */
.juniper1 {
  position: absolute;
  max-height: 300px;
  z-index: -100;
  transform: scaleY(-1);
  top: -10%;
  left: 20%;
  opacity: 50%;
}

.juniper2{
  position: absolute;
  max-height: 400px;
  z-index: -99;
  top: 20%;
  left: 40%;
  opacity: 50%;
}

.iphone {
  position: fixed;
  height: 720px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
}

.chianti {
  max-height: 675px;
  z-index: -5;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* NOTE: ---------- BORDERS --------------- */
.border {
  position: fixed;
  z-index: 100;
  background: #fff;}

.border.top {
  top: 0;
}
.border.bot{
  bottom: 0;
}
.border.hor {
  left: 0;
  width: 100%;
  height: 55px;
}
.border.left{
  left: 0;
}
.border.right{
  right: 0;
}
.border.vert{
  top: 0;
  width: 55px;
  height: 100%;
}



/* NOTE: ---------- Additional CSS ----------- */

section {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  height: 90%;
  padding: 10px;
}

section{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  padding: 55px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details,
dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe,
img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, samp, section, small, span, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

:after, :before {
  box-sizing: border-box;
  webkit-tap-highlight-color: transparent;
}

section {
  display: block;
}

li {
  text-align: -webkit-match-parent;
}

ol,ul {
  list-style: none;
}

ol {
  lis-style-type: decimal;
}

body{
  overflow: hidden;
  font-size: 1.7rem;
}

body{
  line-height: 1;
}

html{
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

#sections-list section:before {
  content: "0" counter(a);
  position: absolute;
  top: calc(50% - 370px)
  left: calc( 50% - 370px);
  z-index: 30;
  width: 160px;
  height: 160px;
  font-size: 16rem;
  line-height: 16rem;
  color: #ffffff;
  opacity: 0;
  transform: translate3d(160px,0,0);
  transition: .4s cubic-bezier(.55,.085,.68,.53);
}

:after, :before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

: :selection {
  color: #ffffff;
  background: #9FD4B9;
}
