body {
  background-image: url("../img/skylinesunset.jpeg");
  background-size: 100%;
  background-position: bottom 0;
}



div#topbar{
top: 0;
width: 100%;

}

.meny h2{
  position: fixed;
  top: 2px;
  left: 5px;
}

.int h2{
  position: fixed;
  top: 2px;
  right: 5px;

}


#number {
  z-index: 1000;
  color: black;
  position: absolute;
  left: 10%;
  bottom: 30px;

}
#paragraph{
  color: white;
  position: absolute;
  font-size: 24px;
  left: 13%;
  bottom: 50px;
}

h1{
  font-family: "Gil Sans", sans-serif;
  font-size: 250px;
}

h2{
  font-family: "Times New Roman", sans-serif;
  font-size: 16px;
  color: black;
}
