.col-md-3 {
  padding: 10px;
  margin: 5px;
  border: solid 3px darkgrey;
  background-color: darkgrey;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 0px black;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

main {
  background-color: #cdd3d4 ;
}

img{
max-height: 60vh;
width: auto;
object-fit: contain;
}

.navbar{
position: sticky;
top: 0px
}

h1, p {
  font-family: "Arial", sans-serif;
  text-align: center;
}
